

/* -------------------- */

*{
	margin:0;
	padding:0;
}
  body{
	/* スクロールはみ出しさせない */
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	color: #fff;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	-webkit-text-size-adjust: none;
}
.top_cake_img{
  opacity: 1;
  width : 100%;
  height: 100vh;
  background-image: url("images/top_cake.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
    
}

.disap_cake_img{
  display: none;
  opacity: 1;
  width : 100%;
  height: 100vh;
  background-image: url("images/top_cake_disap_fire.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}

  /* *----------------------------
  * メニュー開閉ボタン
  *----------------------------*/ 
  #toggle {
    position: fixed;
    top: 40px;
    left: 25px;
}

#toggle-box {
    position: relative;
    width: 36px;
    height: 32px;
    cursor: pointer;
}

#toggle-box > span {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #000;
  position: absolute;
  transition: transform .6s ease-in-out, top .5s ease, bottom .5s ease;
}

#toggle-box > span:nth-child(1) {
    top: 0;
}
#toggle-box > span:nth-child(2) {
    top: 50%;
    transform: translatey(-50%);
}
#toggle-box > span:nth-child(3) {
    bottom: 0;
}

#toggle {
    z-index: 1000;
}
#main {
    position: relative;  
    z-index: 990;
}

#nav-content {
		opacity: 0.9;
    z-index: 900;
    overflow: auto;
		border-radius: 35px; 
    width: 70%;
    height: 80%;
    background: #fff;
    color: #000;
    position: fixed;
    top: 20px;
    left: 0;
    text-align: left;
    transform: translateX(-100%);
    transition:  transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#nav-content ul {
  list-style: none;
}

.menu_title{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#nav-content li:first-child{
	padding: 20px;
	display: block;
  color: #000;
  text-decoration: none;
  transition: opacity .6s ease;
}

#nav-content li {
	display: block;
  color: #000;
  text-decoration: none;
  padding: 0px 20px 20px 20px;
  transition: opacity .6s ease;
}
#nav-content a:hover {
  opacity: 0.6;
}

.is-open {
    overflow: hidden;
}

.is-open #toggle-box > span {
    background: #000;
}

.is-open #toggle-box > span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}

.is-open #toggle-box > span:nth-child(2) {
  width: 0;
}

.is-open #toggle-box > span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg) translatey(-50%);
}

.is-open #nav-content {
  z-index: 999;
  transform: translateX(0);
}


/* スライドスイッチ */
.toggle_switch {
	width: 100%;
    display: flex;
    font-size: 30px;
}

.toggle_switch span{
		font-size: 16px;
		padding: 0 20px;
}

.toggle_switch > input {
    display: none;
}

.toggle_switch > label {
    position: relative;
    width: 1.8em;
    height: 1em;
    border-radius: 1em;
    background-color: #2b2a2f;
    cursor: pointer;
}
.toggle_switch > input:checked + label {
    background-color: #2dcb45;
}
.toggle_switch > label::before {
    position: absolute;
    top: 0.05em;
    left: 0.05em;
    width: calc(1em - 0.1em);
    height: calc(1em - 0.1em);
    border-radius: calc(1em - 0.1em);
    background-color: #fff;
    transition: 0.5s;
    content: "";
}
.toggle_switch > input:checked + label::before {
    left: calc(100% - 1em + 0.05em);
}

.cristmas_bar{
	position: absolute;
	top: 90%;
	width: 100%;
	height: 30px;
	background-color: white;
	opacity: 0.75;
	text-align: center;
}

.cristmas_bar span{
	vertical-align:middle;
	color: black;
	font-weight: bold;
	padding: 3px;
}

/*フェード*/

.change_img{
  position: absolute;
	top: 70%;
	width: 100%;
	text-align: center;
}
.fire{
  font-size: 16px;
	padding:5px 20px 5px 20px;
}
.christmas{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}


  @media screen and (max-width:768px){
    /* ----------------------- */
    /* base_sp
    /* ----------------------- */
    
  
    /* ------------------ */
    /* humberger-menu */
    /* ------------------ */
    .header{
        padding: 0 5%;
    }
  
  }  
    
   
  
